In [6]:
# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from scipy import stats
import statsmodels.api as sm
import warnings
from itertools import product
from datetime import datetime
warnings.filterwarnings('ignore')
plt.style.use('seaborn-poster')

In [3]:
path = "arima.xlsx"
df = pd.read_excel(path)
df.head()

     tanggal  berat
0 2017-01-01   4266
1 2017-01-02   3986
2 2017-01-03   4434
3 2017-01-04   4525
4 2017-01-05   3467

In [4]:
# Unix-time to 
df.Timestamp = pd.to_datetime(df.Timestamp, unit='s')

# Resampling to daily frequency
df.index = df.Timestamp
df = df.resample('D').mean()

# Resampling to monthly frequency
df_month = df.resample('M').mean()

# Resampling to annual frequency
df_year = df.resample('A-DEC').mean()

# Resampling to quarterly frequency
df_Q = df.resample('Q-DEC').mean()

AttributeError: 'DataFrame' object has no attribute 'Timestamp'